# Data Types

In [1]:
# Create the following data types..

# String

q = <insert>

# Int

w = <insert>

# Float

e = <insert>

# List

r = <insert>

# Tuple

t = <insert>

# Range

y = <insert>

# Dictionary

u = <insert>

# Set

i = <insert>

# Frozen Set

o = <insert>

# Boolean

p = <insert>


######### Tests ######################
print(f"Should be a string {type(q)}")
print(f"Should be a int {type(w)}")
print(f"Should be a float {type(e)}")
print(f"Should be a list {type(r)}")
print(f"Should be a tuple {type(t)}")
print(f"Should be a range {type(y)}")
print(f"Should be a dictionary {type(u)}")
print(f"Should be a set {type(i)}")
print(f"Should be a frozen set {type(o)}")
print(f"Should be a boolean {type(p)}")

SyntaxError: invalid syntax (<ipython-input-1-964526d09920>, line 5)

# Variables

In [9]:
# Assign multiple variables on the same line (one line)

a, b, c = <insert>

print(a)
print(b)
print(c)

12
24
36

# Arithmetic Operators

In [10]:
# Perform the following...

### Don't change ####
a = 12
b = 24
c = 36
#####################

# Addition

q = a <insert> b

# Minus

w = c <insert> a

# Multiply

e = a <insert> b

# Divide

r = c <insert> a

# Modulus of 2 numbers

t = a <insert> c

# Exponetial

y = b <insert> a

# Floor division 

u = c <insert> a


######### Tests ###############
print("All should be True")
print(True) if q == 36 else print(False)
print(True) if w == 24 else print(False)
print(True) if e == 288 else print(False)
print(True) if r == 3.0 else print(False)
print(True) if t == 12 else print(False)
print(True) if y == 36520347436056576 else print(False)
print(True) if u == 3 else print(False)

All should be True
True
True
True
True
True
True
True

# Comparison Operators

In [11]:
# Add the following comparison operators

### Don't change ####
a = 12
b = 24
c = 36
#####################

# Check if equal

q = a <insert> a

# Check if not equal

w = a <insert> b

# Check if greater than

e = c <insert> a

# Check if less than

r = a <insert> c

# Check if greater than or equal to

t = c <insert> a

# Check if less than or equal to

y = a <insert> c


##### Tests #################
print("All should be True")
print(q)
print(w)
print(e)
print(r)
print(t)
print(y)

All should be True
True
True
True
True
True
True

# Logical Operators

In [12]:
# Add the following logical operators


### Don't Change ####
a = 12
b = 24
c = 36
####################

# Use and

q = a < c <insert> c > a

# Use or

w = a < c <insert> c > a

# Use not

e = <insert>(c < a or a > c)

########### Tests ############
print("All should be True")
print(q)
print(w)
print(e)

All should be True
True
True
True

# Identity Operators

In [13]:
# Add the following Identity operators

#### Don't Change #####
a = 12
b = 24
c = 36
######################


# Use is

q = a <insert> a

# Use is not

w = a <insert> c


########### Tests ############
print("All should be True")
print(q)
print(w)

All should be True
True
True

# Membership Operators

In [14]:
# Add the following Membership operators

#### Don't Change ######
x = "hello world"
y = "hello"
#######################


# Use in

q = y <insert> x

# Use not in

w = x <insert> y


########### Tests ############
print("All should be True")
print(q)
print(w)

All should be True
True
True

# RegEx Functions - with re

https://www.w3schools.com/python/python_regex.asp

In [15]:
###### Don't Change ###############
import re
txt = "Here we go again"
##################################



# Use findall function to find "e"

q = <insert>


# Use search function to find indexes of "we"

w = <insert>


# Use split function - use "\s" to split by spaces

e = <insert>

# Use sub function to subsitute spaces for "9"

r = <insert>



############ Tests ###################
print("All should be True")
print(True) if str(q) == "['e', 'e', 'e']" else print(False)
print(True) if str(w) == "<re.Match object; span=(5, 7), match='we'>" else print(False)
print(True) if str(e) == "['Here', 'we', 'go', 'again']" else print(False)
print(True) if str(r) == "Here9we9go9again" else print(False)

All should be True
True
True
True
True

# In-Built Python Functions

In [16]:
# Use str()

a = <insert>

### Test ###
print(type(a))

<class 'str'>

In [17]:
# Use int()

a = <insert>

### Test ###
print(type(a))

<class 'int'>

In [18]:
# Use float()

a = <insert>

### Test ###
print(type(a))

<class 'float'>

In [19]:
# Use map()

######## Don't Change #########
def add_two(a):
    return a + 2
    
numbers = [2,3,4,5]
###############################



x = <insert>




################ Test ############################
print(True) if list(x) == list((4,5,6,7)) else print(False)

True

In [20]:
# Use all() - checks to see if everything item in the list is True

######## Don't Change #########
random = [True, True, False]
randomx = [True, True] 
##############################


x = <insert>
y = <insert>


#### Test #####
print(x) # False
print(y) # True

False
True

In [21]:
# Use any() - checks to see at least one of the values is True

####### Don't Change ########
random = [True, True, False]
randomx = [True, True] 
#############################


x = <insert>
y = <insert>


#### Test - should be True #####
print(x)
print(y)

True
True

In [22]:
# Use enumerate() on the list in the variable "x"

##### Don't Change ######
x = ['a', 'b', 'c']
#########################


z = <insert>


#### Test - should be True #####
print(True) if list(z) == [(0, 'a'), (1, 'b'), (2, 'c')] else print(False)

True

In [23]:
# Use filter()

##### Don't Change #####
def get_c(z):
    if z == "c":
        return True
    else:
        return False

alp = ['a','z','c','x','b']
############################



x = <insert>



#### Test - should be True #####
print(True) if list(x) == ['c'] else print(False)

True

In [24]:
# Use getattr() to get height of Animal

#### Don't Change #######
class Animal:
    name = "Bear"
    height = 205
    country = "Russia"
#########################


x = <insert>


#### Test - should be True #####
print(True) if x == 205 else print(False)

True

In [25]:
# Use slice() to return first 3 items of the list

######### Don't Change #################
a = ["a", "b", "c", "d", "e", "f", "g", "h"]
########################################


x = <insert>


#### Test - should be True #####
print(True) if a[x] == ['a', 'b', 'c'] else print(False)

True

In [26]:
# Sort the list below and store in a variable "q"

######## Don't Change ####################
a = ["z", "y", "x", "d", "e", "f", "g", "h"]
##########################################


q = <insert>


#### Test - should be True #####
print(True) if str(q) == "['d', 'e', 'f', 'g', 'h', 'x', 'y', 'z']" else print(False)

True

In [27]:
# Use zip() - iterator of tuples

####### Don't Change ######
a = ("dog", "cat")
b = ("bird", "snake")
##########################


q = <insert>


#### Test - should be True #####
print(True) if str(tuple(q)) == "(('dog', 'bird'), ('cat', 'snake'))" else print(False)

True

In [28]:
# Use format() to format a float

x = <insert>

### Test ###
print(x)

50.000000%

In [29]:
# Use iter() - An iterator is an object that can be iterated upon
# meaning that you can traverse through all the values.

##### Don't Change ############
fruits_list = ["apple", "banana", "cherry"]
###############################


iterator_object = <insert>


####### Test ###############
print(iterator_object)
print(next(iterator_object))

<list_iterator object at 0x000001F153111BE0>
apple

# String Manipulation

In [30]:
# Complete the following string manipulations

# Concatenate 2 strings

q = "ba" <insert> "ba"


# Use the string format() function

name = "Ryan"
w = "My name is " + <insert>



# print "My name is Ryan" with f string

name = "Ryan"

e = <insert>



# Create a multi-line string saying "This is a" (first line) "multi-line string" (second line)

r = <insert>


# Remove whitespace from a string with strip()

a = "This is a string with trailing whitespace   "

t = <insert>



# Replace a "Apple" with "Orange" in a string with replace()

a = "I am saying Apple, but I mean something else"

y = <insert>



# Split a string by a delimiter with split()

a = "This;doesnt;look;right"

u = <insert>



# Use the join function, to convert tuple to string - seperated by #

myTuple = ("John", "Peter", "Vicky")

i = <insert>



# Use an escape character - \ to fix the string below

o = "Fix me"Text"please"




###### Tests - All Should be True #############################
print("All should be True")
print(True) if str(q) == "baba" else print(False)
print(True) if str(w) == "My name is Ryan" else print(False)
print(True) if str(e) == "My name is Ryan" else print(False)
print(True) if str(r) == """
This is a
multi-line string
""" else print(False)
print(True) if str(t) == "This is a string with trailing whitespace" else print(False)
print(True) if str(y) == "I am saying Orange, but I mean something else" else print(False)
print(True) if str(u) == "['This', 'doesnt', 'look', 'right']" else print(False)
print(True) if str(i) == "John#Peter#Vicky" else print(False)

All should be True
True
True
True
True
True
True
True
True

# Collection data type: List

In [31]:
###### Don't Change ##############
q = ["this", "is", "a", "list"]
#################################

# Create the same list above with the list function list()

q = <insert>

# Find the index of "a" within the list above using index()

w = <insert>

# Sort the list in ascending order using sorted()

e = <insert>

# Sort a list in descending order

r = <insert>

# Reverse the list using reversed()

t = <insert>

# Create a copy of the list above using copy()

y = <insert>



################ Tests ######################################
print(f"This should be a list: {type(q)}")
print(f"This should be the number 2: {w}")
print(True) if str(e) == "['a', 'is', 'list', 'this']" else print(False)
print(True) if str(r) == "['this', 'list', 'is', 'a']" else print(False)
print(True) if str(list(t)) == "['list', 'a', 'is', 'this']" else print(False)
print(True) if str(y) == "['this', 'is', 'a', 'list']" else print(False)

This should be a list: <class 'list'>
This should be the number 2: 2
True
True
True
True

In [4]:
# Add 36 to the end of the list using append() - don't assign it to a variable

## Don't Change ##
q = ["this", "is", "a", "list"]
x = 36
#################


<insert>



####### Test - Should Return True ###########################
u = q
print(True) if str(u) == "['this', 'is', 'a', 'list', 36]" else print(False)

True

In [33]:
# Add to the end of the list with another list by addition

### Don't Change ###
q = ["this", "is", "a", "list"]
new_list = ["abc"]
###################


i = <insert>


################# Test - Should return True ########################
print(True) if str(i) == "['this', 'is', 'a', 'list', 'abc']" else print(False)

True

In [34]:
# Add the items from a tuple to the end of the list using extend()

### Don't Change ###
q = ["this", "is", "a", "list"]
b = (99,101)
###################


<insert>


################# Test - Should return True ########################
o = q
print(True) if str(o) == "['this', 'is', 'a', 'list', 99, 101]" else print(False)

True

In [9]:
# Add "hello world" to the 2nd position of the list using insert()

### Don't Change ###
q = ["this", "is", "a", "list"]
###################


<insert>


################# Test - Should return True ########################
p = q
print(True) if str(p) == "['this', 'hello world', 'is', 'a', 'list']" else print(False)

True

In [11]:
# Remove the "hello world" item from the list using remove() 

### Don't Change ###
q = ['this', 'hello world', 'is', 'a', 'list']
###################

<insert>

################# Test - Should return True ########################
z = q
print("hello world" is not " ".join([str(elem) for elem in z]))

True

<>:12: SyntaxWarning: "is not" with a literal. Did you mean "!="?
<>:12: SyntaxWarning: "is not" with a literal. Did you mean "!="?
<ipython-input-11-87d36aa100f6>:12: SyntaxWarning: "is not" with a literal. Did you mean "!="?
  print("hello world" is not " ".join([str(elem) for elem in z]))

In [37]:
# Remove specific item from a list using its index with pop()

#### Test ####
q = ['this', 'hello world', 'is', 'a', 'list']
print(q)
###############


<insert>


#### Test ####
print(q)

['this', 'is', 'a', 'list', 36, 99, 101]
['this', 'is', 'a', 36, 99, 101]

In [38]:
# Keep the list, but remove all its items with clear()

#### Don't Change ####
q = ['this', 'hello world', 'is', 'a', 'list']
print(q)
###############


<insert>


#### Test ####
c = q
print(c)

[]

In [39]:
# Delete the entire list with del

#### Don't Delete ####
q = ['this', 'hello world', 'is', 'a', 'list']
print(q)
##############


<insert>


#### Test ####
q

[]

NameError: name 'q' is not defined

# Slice Lists

In [40]:
# Complete all slicing questions...

######## Don't Change ################
a = [23, 3, 86, 2, 89, 99, 101, 32, 65]
######################################


# Get the first item in the list

q = <insert>

# Get the last item in the list (negative indexing)

w = <insert>

# Sequence slicing - get the 2nd and 3rd items in list

e = <insert>

# Sequence Item Picking - get every 2nd item starting at index 0

r = <insert>



################# Test - Should return True ########################
print(True) if q == 23 else print(False)
print(True) if w == 65 else print(False)
print(True) if e == list((3,86)) else print(False)
print(True) if r == list((23, 86, 89, 101, 65)) else print(False)

True
True
True
True

# Collection data type: Dictionary

In [41]:
#The dictionary

########## Don't Delete ###########################
q = {"name": "bob", "age": 21, "occupation": "painter"}
###################################################

# Copy the dictionary above with dict() function

q = <insert>


# Print the Keys of the dictionary created 

w = <insert>

# Print the Values of the dictionary created 

e = <insert>

# Print the "name" Value of the dictionary using get()

r = <insert>

# Return the "name" value of a key without a function

t = <insert>

# Print the key:value pairs of a dictionary using items()

y = <insert>


# Make a copy of a dictionary using copy()

u = <insert>


############## Tests ############################################
print(f"This should be a dictionary: {type(q)}")
print("All should be True:")
print(True) if str(w) == "dict_keys(['name', 'age', 'occupation'])" else print(False)
print(True) if str(e) == "dict_values(['bob', 21, 'painter'])" else print(False)
print(True) if str(r) == "bob" else print(False)
print(True) if str(t) == "bob" else print(False)
print(True) if str(y) == "dict_items([('name', 'bob'), ('age', 21), ('occupation', 'painter')])" else print(False)
print(True) if str(u) == "{'name': 'bob', 'age': 21, 'occupation': 'painter'}" else print(False)

This should be a dictionary: <class 'dict'>
All should be True:
True
True
True
True
True
True

In [42]:
########## Don't Change ###########################
q = {"name": "bob", "age": 21, "occupation": "painter"}
print(q) # Test
####################################################

# Update the age value within the dictionary above

<insert>



## Test ##
u = q
print(u)

{'name': 'bob', 'age': 21, 'occupation': 'painter'}
{'name': 'bob', 'age': 23, 'occupation': 'painter'}

In [43]:
########## Don't Change ###########################
q = {"name": "bob", "age": 21, "occupation": "painter"}
print(q) # Test
####################################################

# Update the "name" value to "Sally" using update()

<insert>

## Test ##
print(q)

{'name': 'bob', 'age': 21, 'occupation': 'painter'}
{'name': 'Sally', 'age': 21, 'occupation': 'painter'}

In [44]:
########## Don't Change ###########################
q = {"name": "bob", "age": 21, "occupation": "painter"}
print(q) # Test
####################################################

# Add a key:value pair to a dictionary using update()

<insert>

## Test ##
q

{'name': 'bob', 'age': 21, 'occupation': 'painter'}

{'name': 'bob', 'age': 21, 'occupation': 'painter', 'new': 'new_val'}

In [45]:
# Remove an item from a dictionary using pop()

### Test ###
q = {"name": "bob", "age": 21, "occupation": "painter"}
print(q)
###########


<insert>



## Test ##
q

{'name': 'bob', 'age': 21, 'occupation': 'painter', 'new': 'new_val'}

{'name': 'bob', 'age': 21, 'occupation': 'painter'}

In [46]:
# Remove the last item from a dictionary using popitem()

### Test ###
q = {"name": "bob", "age": 21, "occupation": "painter"}
print(q)
###########

<insert>

## Test ##
q

{'name': 'bob', 'age': 21, 'occupation': 'painter'}

{'name': 'bob', 'age': 21}

In [47]:
# Delete an item with a specific key name 

### Test ###
q = {"name": "bob", "age": 21, "occupation": "painter"}
print(q)
###########


<insert>


## Test ##
q

{'name': 'bob', 'age': 21}

{'age': 21}

In [48]:
# Keep the dictionary, but empty it out using clear()

### Test ###
q = {"name": "bob", "age": 21, "occupation": "painter"}
print(q)
###########


<insert>


## Test ##
q

{'age': 21}

{}

# Collection data type: Tuple

- Tuple items are ordered, unchangeable, and allow duplicate values. 
- A tuple can contain different data types
- Tuple items can't be changed without being turning into a list first

In [49]:
# Tuple

############# Don't Change ###############
q = ("df", "pd", "np", "sns", "plt", "pd")
##########################################


# Create the tuple above with the tuple() function

q = <insert>

# Create a Tuple with 1 item

w = <insert>

# Get the first item of a Tuple

e = <insert>

# Get the last item of a Tuple

r = <insert>

# Get the first 4 items of a Tuple

t = <insert>

# Get the last 3 items of a Tuple

y = <insert>

# Return the count of "pd" in a Tuple using count()

u = <insert>



################ Tests ###################################
print(f"This should be a Tuple: {type(q)}")
print(f"This should be a Tuple: {type(w)}")
print(True) if str(e) == "df" else print(False)
print(True) if str(r) == "pd" else print(False)
print(True) if str(t) == "('df', 'pd', 'np', 'sns')" else print(False)
print(True) if str(y) == "('sns', 'plt', 'pd')" else print(False)
print(True) if str(u) == "2" else print(False)

This should be a Tuple: <class 'tuple'>
This should be a Tuple: <class 'tuple'>
True
True
True
True
True

# Collection data type: Set

- Set items are unordered, unchangeable, and do not allow duplicate values.
- Set items can be of any data type

In [50]:
# Create a Set

######## Don't Change #####
q =  {1, 2, 'a', 'b'}
###########################

# Create the Set above using set() function

q = <insert>


# Join q and b together using union()

######## Don't Change #####
b = {'54'}
###########################

t = <insert>

################ Tests ###################################
print(f"The type should be a Set {type(q)}")
print(t)

The type should be a Set <class 'set'>
{1, 2, 'a', 'b', '54'}

In [51]:
######## Don't Change #####
q =  {1, 2, 'a', 'b'}
###########################

# Add "xyz" to a set using update()


<insert>


## Test ##
q

{1, 2, 'a', 'b', 'x', 'y', 'z'}

In [52]:
######## Don't Change #####
q =  {1, 2, 'a', 'b'}
###########################

# Delete from a Set using remove()

<insert>

## Test ##
q

{1, 2, 'b'}

In [53]:
######## Don't Change #####
q =  {1, 2, 'a', 'b'}
###########################

# Delete from a Set using discard()

<insert>

## Test ##
q

{1, 'a', 'b'}

In [54]:
# Only keep duplicates from a Set using intersection_update()

######## Don't Change #####
q =  {1, 2, 'a', 'b'}
a = {'a','b'}
###########################

<insert>

## Test ##
q

{'a', 'b'}

In [55]:
# Only keep non-duplicates from a Set using symmetric_difference_update()

######## Don't Change #####
q =  {1, 2, 'a', 'b'}
a = {'a','b'}
###########################

<insert>

## Test ##
q

{1, 2}

# IF statements

In [56]:
# Create IF statement with AND logic - return print true with the variables

## Don't Change ##
a = 24
b = 36
##################


<insert>

True

In [57]:
# Create IF statement with OR logic - return print true with the variables

## Don't Change ##
a = 24
b = 36
######################

<insert>

True

In [58]:
# Create IF statement with AND and OR logic - return print true with the variables

## Don't Change ##
a = 24
b = 36
######################

<insert>

True

In [59]:
# Create IF statement with ELIF - return "b greater than 1"

## Don't Change ##
a = 24
b = 36
######################

<insert>

b greater than 1

In [60]:
# Create IF statement with pass - return print true with the variables

## Don't Change ##
a = 33
b = 200
######################

<insert>

In [61]:
# Use raise an exception in an example IF statement

## Don't Change ##
a = 2
######################

<insert>

Exception: a is less than 0

In [62]:
# Create a one line IF statment - return print "hello world"

## Don't Change ##
a = 0
b = 2
######################

<insert>

hello world

In [63]:
# Create a one line IF statment with ELSE - return print "hello world"

## Don't Change ##
a = 0
b = 2
######################

<insert>

hello world

In [64]:
# Create multiple if / else conditions on one line - return B

## Don't Change ##
a = 330
b = 331
######################


<insert>

B

While Loops

In [65]:
# Create a count-controlled WHILE loop - print "hello" 10x

## Don't Change ##
a = 0
######################

<insert>

hello
hello
hello
hello
hello
hello
hello
hello
hello
hello

In [66]:
# Create an event-controlled WHILE loop - print 0 to 9

## Don't Change ##
a = True
b = 0
######################

<insert>

0
1
2
3
4
5
6
7
8
9

For Loops

In [67]:
# For Loop with lists - print out the list below

## Don't Change ##
a = ['a', 'c', 'b', 'd', 'e']
######################

<insert>

a
c
b
d
e

In [68]:
# For loop with Sets - print out the set below

## Don't Change ##
a = {'a', 'c', 'b', 'd', 'e'}
######################

<insert>

a
e
c
d
b

In [69]:
# For Loop with Tuples - print out the Tuple below

## Don't Change ##
a = ('a', 'c', 'b', 'd', 'e')
######################

<insert>

a
c
b
d
e

In [70]:
# For loop with enumerate - print the index and elements of the tuple

## Don't Change ##
a = ('a', 'c', 'b', 'd', 'e')
######################

<insert>

(0, 'a')
(1, 'c')
(2, 'b')
(3, 'd')
(4, 'e')

In [71]:
# For Loop with Dictionaries by values 

## Don't Change ##
a = dict(name="bob", age=23, friend="Ted", friend_age=25)
######################

<insert>

bob
23
Ted
25

In [72]:
# For Loop with Dictionaries by keys

## Don't Change ##
a = dict(name="bob", age=23, friend="Ted", friend_age=25)
######################

<insert>

name
age
friend
friend_age

In [73]:
# For Loop with Dictionaries by keys:value pairs using items()

## Don't Change ##
a = dict(name="bob", age=23, friend="Ted", friend_age=25)
######################

<insert>

('name', 'bob')
('age', 23)
('friend', 'Ted')
('friend_age', 25)

In [12]:
# For Loop with Continue - skip when value == "i"

### Don't Change ###
x = "string"
####################


<insert>

s
t
r
n
g

In [98]:
# For Loop with Break - finish loop when value == "i"

### Don't Change ###
x = "string"
####################

<insert>

s
t
r

Exception Handling

In [76]:
# Try and Except and finally example

<insert>

string
The 'try except' is finished

List Comprehensions

In [87]:
# Basic List comprehension - reprint the list with list comprehension

#### Don't Change ####
a = ["pd", "np", "plt", "sns"]
######################


q = <insert>


#### Test - return True ########
print(True) if q == a else print(False)

True

In [88]:
# List comprehension with IF statement - print the list if item starts with "p"

#### Don't Change ####
a = ["pd", "np", "plt", "sns"]
######################


q = <insert>


#### Test - return True ########
print(True) if q == ['pd', 'plt'] else print(False)

True

In [89]:
# List comprehension changing all strings to upper case

#### Don't Change ####
a = ["pd", "np", "plt", "sns"]
######################


q = <insert>


#### Test - return True ########
print(True) if str(q) == "['PD', 'NP', 'PLT', 'SNS']" else print(False)

True

In [90]:
# List comprehension changing all values in the list to "Python"

#### Don't Change ####
a = ["pd", "np", "plt", "sns"]
######################


q = <insert>


#### Test - return True ########
print(True) if str(q) == "['Python', 'Python', 'Python', 'Python']" else print(False)

True

In [92]:
# List comprehension with 'else' - only print "pd", call everything else ..."everything else"

#### Don't Change ####
a = ["pd", "np", "plt", "sns", "dummy"]
######################


q = <insert>


#### Test - return True ########
print(True) if q == list(('pd','everything else','everything else','everything else','everything else')) else print(False)

True

Dictionary Comprehension

In [93]:
# Dictionary comprehension - reprint out the dictionary below

#### Don't Change ####
d = {"a": 1, "b": 2, "c": 3}
######################


q = <insert>


#### Test - return True ########
print(True) if q == d else print(False)

True

In [97]:
# Dictionary comprehension - reprint out the dictionary below IF value == 1

#### Don't Change ####
d = {"a": 1, "b": 2, "c": 3}
######################


q = <insert>


#### Test - return True ########
print(True) if str(q) == "{'a': 1}" else print(False)

True

Functions

In [84]:
# Create a function where the number of arguments are unknown

<insert>
    
unknown_args("a", "b", "c")

('a', 'b', 'c')

In [85]:
# Create a function where the number of keyword arguments are unknown

<insert>
    
unknown_kwargs(name = "bob", age = 13)

{'name': 'bob', 'age': 13}

In [86]:
# Create a lambda function (anonymous function) where you add 10 to the input

x = <insert>

x(5)

15